body {
  margin: 0;
  text-align: center;
  color: #66bfbf;
}

#top-container {
  position: relative;
  padding-top: 100px;
  min-width: 540px;
  background-color: #eaf6f6;
}

h1 {
  font-size: 5.62em;
  font-family: "Sacramento", cursive;
  margin: 50px 0 0 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.topCloud {
  position: absolute;
  top: 50px;
  right: 0px;
}

.topCloud.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  right: 250px !important;
}

.bottomCloud {
  position: absolute;
  bottom: 300px;
  left: 0px;
}

.bottomCloud.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  left: 250px !important;
}

.mountain {
  max-width: 100%;
  height: auto;
}

p {
  color: #40514e;
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

#middle-container {
  background-color: white;
}

.profile-img {
  margin: 100px 0 25px;
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

hr {
  border-top: 6px dotted #b4bbbb;
  width: 4%;
  margin: 100px auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* Mark */
.skills-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* justify-self: center; */
  margin: 0 auto;
}

.code-skill-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.skills {
  display: flex;
  align-items: center;
}

.skills-coffee {
  flex-direction: row-reverse;
}

/**/
.code-skills {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.coffee-skill-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/**/
.coffeeImg {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.contact-message {
  width: 40%;
  margin: 20px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  /* border: solid #337FED 1px; */
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  /* -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px; */
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

#bottom-container {
  margin-top: 100px;
  background-color: #66bfbf;
  height: auto;
  padding: 50px 0;
}

.copyright {
  margin-bottom: 0;
  color: white;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #11999e;
  margin: auto 10px;
  float: left;
  line-height: 2;
}
